/* General styles */

  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--main-color); /* Apply root color to text */
  }
  

  
  .App{
    background-color: var(--body_background);
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: left;
    /* font-size: calc(10px + 2vmin); */
    color: var(--body_color);
  }
  .App-link{
    color: var(--link_color)
  }
  .container {
    /* max-width: 960px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    background-color: var(--main-color); /* Apply root color to background */
    color: #fff; /* Example text color for contrast */
  }
  
